<!DOCTYPE html>
<html>
    <body style="background-color:{{ backend_bg_color }};">
        <header>
            <h1 style="text-align:center">Variables exercise</h1>
            <p style="text-align:center">Playbook ran successfully</p>
          </header>
          <pre style="display: flex; justify-content: center;">
             ________________________________________________________________________________
            < Moo from {{ inventory_hostname }} >
             --------------------------------------------------------------------------------
                    \   ^__^
                     \  (..)\_______
                        (__)\       )\/\
                            ||----w |
                            ||     ||      
            
          </pre>
    </body>
</html>
